.navbar_small{
    float: left;
background-color:#80CBC4;
width: 20%;
height: 85px;

}
.navbar_big{
    background-color:#00BFA5;
    width: 100%;
    height: 85px; 
    
}
.nav{
    background-color:	#26A69A;
    width: 100%;
    height: 75px;
    float: left;
}
.list{
padding-top: 2px;
position: absolute;
word-spacing: 20px;
}
li{
    
text-align: center;
margin-left: 0px;
font-family: sans-serif;
color: azure;
list-style: none;
display: inline;
}
.section{
    width:100%;
    height:900px;
    float: left;
    background-color: #80CBC4;
   
}

.n1{
    width: 300px;
    height: 300px;
    margin-top:50px;
    margin-left:10%;
    float: left;
    background-color: rgb(217, 238, 238)
}
.n2{
    width: 300px;
    height: 300px;
    margin-top:50px;
    margin-left:10%;
    float: left;
    background-color:#009688
}
.n3{
    width: 300px;
    height: 300px;
    margin-top:50px;
    margin-left:10%;
    float: left;
    background-color: rgb(217, 238, 238)
}
.n4{
    width: 300px;
    height: 300px;
    margin-top:50px;
    margin-left:10%;
    float: left;
    background-color:#009688;
}
.n5{
    width: 300px;
    height: 300px;
    margin-top:50px;
    margin-left:10%;
    float: left;
    background-color: rgb(217, 238, 238)
}
.n6{
    width: 300px;
    height: 300px;
    margin-top:50px;
    margin-left:10%;
    float: left;
    background-color: #009688;
}
.sec2{
    width: 100%;
    height: 300px;
  margin-top: 20px;
  
  float: right;
    background-color:#26A69A; 
}
.sec3{
width: 100%;
height:1000 ;
margin-top: 20px;
margin-bottom: 10px;
float:left;
background-color:  #80CBC4;

}
.s1{
    width: 200px;
height: 200px;
margin-top:50px;
margin-left:6%;
float: left;
background-color:  #009688;
}
.s2{
    width: 200px;
height: 200px;
margin-top:50px;
margin-left:6%;
float: left;
background-color: #009688
}
.s3{
    width: 200px;
height: 200px;
margin-top:50px;
margin-left:6%;
float: left;
background-color: #009688
}
.s4{
    width: 200px;
height: 200px;
margin-top:50px;
margin-left:6%;
float: left;
background-color: #009688
}
.s5{
    width: 200px;
height: 200px;
margin-top:50px;
margin-left:6%;
float: left;
background-color: #009688
}
.s6{
    width: 200px;
height: 200px;
margin-top:50px;
margin-bottom: 20px;
margin-left:6%;
float: left;
background-color: #009688
}
.s7{
    width: 200px;
height: 200px;
margin-top:50px;
margin-bottom: 20px;
margin-left:6%;
float: left;
background-color: #009688
}
.s8{
    width: 200px;
height: 200px;
margin-top:50px;
margin-bottom: 20px;
margin-left:6%;
float: left;

background-color:  #009688
}
.contact{
width: 100%;
height: 450px;
background-color: #009688 ;
float: left;
margin-bottom: 10px;
}
.footer{
    width: 100%;
    height: 40px;
    float: left;
    margin-bottom: 10px;
        background-color: #009688;
}
.yazı{
   text-align: center;
   color: azure;
   font-family: sans-serif;
   margin-top: 10px;
}
